/* * {
	border: #881A1A 1px solid;
} */

body {
	background: #E1E1E1;
	color: #881A1A;
}


.movie-app > .row {
	overflow-x:auto;
	flex-wrap: nowrap
}

.image-container {
	width: 100px;
	position:relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 90px;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	text-align: center;
}

.navbar{
  display: flex;
  margin: 0px;
}

.nav{
	display: flex;
margin: right
}


.movienav {
  width: 300px;
  height: 80px;
  font-size: 50px;
}

.base {
  color: #881A1A;
  font-weight: bold;
}

.input {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}


.poster {
	width: 91px;
	height: 125px;
}

.movie-title, .movie-year{
	font-size: 15px;
}

.edit {
	margin-left: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 600px;
	font-size: 15px;
	font-weight: bold;
	margin-left: auto;
	text-align: center;
	border: #881A1A solid 3px;
	margin-top: 10px;
	padding: 10px;
}

.forms {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
}

ul{
	list-style-type: none;
	
}

li{
 font-size: 18px;
 margin-bottom: 10px;
}

.movieform{
	display: flex;
	text-shadow: 0 0 3px 0 #881A1A
}

.popup {
	font-size: 15px;
	margin-top: 10px;
	border: black 4px solid;
	width: 500px;
}
.popup h2 {
	font-size: 20px;
}

.popup-close{
	margin: 10px;
	padding: 5px;
	width: 150px;
}

.mr-2{
	display: flex;
	flex-direction: column;
	height: 50px;
	width: 91px;
	font-size: 15px;
}
.remove {
	
		display: flex;
		flex-direction: column;
		height: 50px;
		font-size: 12px;
	
}

.edit-btn, .delete{
	font-size: 11px;
	width: ;
}

.edit{
	display: flex;
	justify-content: center;
	margin-right:10px
}